<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="css/admin/style.css">
</head>

<body>
    <div class="login-area">
        <h1 style="font-weight: 900; text-align: center;">LOG IN</h1>
        <div class="login-box">
            <form action="/login" method="post">
                <div>
                    <p style="margin-bottom: 5px; font-size: 17px; margin-top: 0px;">Email</p>
                    <input type="email" placeholder="Email" name="email" style="width: calc(100% - 28px);">
                </div>
                <div>
                    <p style="margin-bottom: 5px; font-size: 17px;">Password</p>
                    <input type="password" placeholder="Password" name="password" style="width: calc(100% - 28px);">
                </div>
                <button class="button-dark" style="margin: auto; display: block; margin-top: 20px; cursor: pointer;">Log
            In</button>
            </form>
        </div>

    </div>
</body>

</html>